.tittle{
    padding: 20px;
}
.tittle h1 {
    display: flex;
    justify-content: center;
}
.participants{
    display: flex;
    justify-content: space-around;
}

.charmanderimg{
    padding: 30px;
    width: 400px;
    height: 400px;
}

.totodileimg{
    padding: 30px;
    width: 400px;
    height: 400px;
}