.main {
    background-color: rgba(220, 20, 60, 0.76);
}
.tittle{
    padding: 20px;
}
.tittle h1 {
    display: flex;
    justify-content: center;
}
.participants{
    display: flex;
    justify-content: space-around;
}

.charmander,
.totodile {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border-color: crimson;
    border-width: 2px;
}

.charmanderimg,
.totodileimg{
    padding: 30px;
    width: 200px;
    height: 200px;
}
