@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Indie+Flower&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Aldrich', sans-serif;
}

.main {
    background-image: url('/img/pokemon-battle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imgBanner{
    height: 10%;
    width: 30%;
    
}

.tittle {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: darkcyan;
}
.tittle h1 {
    display: flex;
    justify-content: center;
}
.participants{
    display: flex;
    justify-content: space-around;
    padding-top: 300px;
    padding-bottom: 100px;
}

.charmander,
.totodile {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #ecd026;
    border-width: 5px;
}

.charmanderimg,
.totodileimg{
    padding: 30px;
    width: 200px;
    height: 200px;
}

.attackButon{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 200px;
    height: 50px;
    border: 1px solid #F1C40F;
    font-size: large;
    font-weight: bold;
    color: #F1C40F;
    border-radius: 20px;
    cursor: pointer;
}

.attackButon:hover{
    background-color: #F1C40F; /* Green */
    color: white;
}

.attackButon:disabled{
    background-color: rgba(240, 217, 217, 0.911);
    color: #F1C40F; 
    cursor: auto;
}

.description_charmander,
.description_totodile{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 139, 139, 0.568);
}